body{
    
    padding-left: 0.5vw;
    width: 100vw;
    height: 100vh;
    background-image: url("../../Ressources/VisuelsOK/startscreenFondV2.png");
    background-size: 100vw 100vh;
    color: white!important;
    /* display: flex; 
    justify-content: center;
    align-items: center; */
}



/* #form{

    background-color:rgba(255, 255, 255, 0.466);
    display: flex;
    justify-content: center;
    

} */