
body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3vh;
    padding-left: 0.5vw;
    width: 570vw;
    height: 100vh;
    background-image: url("../../Ressources/VisuelsOK/startscreenFondV2.png");
    background-size: 100vw 100vh;
    z-index: -2;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: hidden;
    /* scrollbar-width: none; */
}

.type{
    padding-left: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boutonRetour{
    display: flex;background-color: black;
}

.boutonIG{
    display: flex;
    height: 30vh;
}

#LaSondeVoyager{

width: auto;
height: 10vh; 

}

#LesTypesdEtoiles{

    display: flex;
    width: auto;
    height: 45vh; 
}

#Audeladesfrontieres{

    display: flex;
    width: auto;
    height: 25vh;
}

#LesGalaxies{

    display: flex;
    width: auto;
    height: 65vh;
}

#LaGravitationUniverselle{

    display: flex;
    width: auto;
    height: 25vh;
}

#LacompositiondelUnivers{

    display: flex;
    width: auto;
    height: 25vh;
}

#LesTrousNoirs{

    display: flex;
    width: auto;
    height: 95vh;
}

#BigBang{

    display: flex;
    width: auto;
    height: 30vh;
}

#LeFondDiffusCosmologique{

    display: flex;
    width: auto;
    height: 95vh;
    opacity: 0.5;

}

#AgeetTailledelUnivers{

    display: flex;
    width: auto;
    height: 35vh;

}

#ExpansiondelUnivers{

    display: flex;
    width: auto;
    height: 45vh;

}

::-webkit-scrollbar{
    display: none;
}