
body{
    display: flex;
    padding-left: 0.5vw;
    width: 100vw;
    height: 100vh;
    background-image: url("../../Ressources/VisuelsOK/startscreenFondV2.png");
    background-size: 100vw 100vh;
    z-index: -2;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: hidden;
    /* scrollbar-width: none; */
}

footer{
    z-index: 2000;
    position : fixed; 
    bottom: 0; 
    width: 100%; 
    background-color: black;
    font-size: 10px; 
}
footer a{
    text-decoration :none; 
    color: white;
}
footer a:hover{
    text-decoration :none; 
    color: white;
}

.infPetit{
display: flex;
}

.systemeSolaire{
    display: flex;
    }
    
.infiniAuDela{
    display: flex;
    }

    .achievs{
        display: flex;
        width: 8vw;
    }

    .containerMenu{
        display: flex;
    }


    .containerMenu2{
        display: flex;
    }

    .containerMenuH{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        align-self: center;
    }

    .containerMenuV{
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        align-items: center;
        width: 80vw;
        margin-left: 10vw;
    }

    .placeholderClass{
        color: cyan;
    }

    .classH{
        color: cyan;
        width: 30vw;
        height: auto;
    }
    .classZut{
        width:9vw; 
    
    }

    .classV{
        color: cyan;
        width: 30vh;
        height: auto;
    }

    a:hover{
        text-decoration:none!important;
        color:cyan!important; 
    }