body{
    
    padding-left: 0.5vw;
    width: 100vw;
    height: 100vh;
    background-image: url("../../Ressources/VisuelsOK/startscreenFondV2.png");
    background-size:cover;
    color: white!important;
    /* display: flex; 
    justify-content: center;
    align-items: center; */
}

label{
    color:white;
    font-weight: bold;
}

h1{
    color: white;
}