body{
    display: flex;
    padding-top: 3vh;
    /* padding-left: 0.5vw; */
    width: 100vw;
    height: 100vh;
    background-image: url("../../Ressources/VisuelsOK/startscreenFondV2.png");
    background-size: 100vw 100vh;
    z-index: -2;
}

.fond{
    display: flex;
    justify-content: left;
    align-items: flex-end;
    width: 100vw;
    height: 94vh;
}

.sol{
    display: flex;
    justify-content: left;
    align-items: flex-end;
    position: fixed;
    z-index: 1;
    width: 1000px;
    height: 540px;
}

.sol2{
    display: flex;
    justify-content: right;
    align-items: flex-start;
    position: fixed;
    z-index: 1;
    margin-left: 1000px;
    width: 1000px;
    height: 540px;
   -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.vaisseau{
    display: flex;
    justify-content: left;
    position: relative;
    width: 60%;
    height: 60%;
    padding-left: 0vw;
    padding-bottom: 0vh;
    z-index: 3;
}

.boutonsCentre{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    margin-left: 40vw;
    margin-top: 40vh;
    width: 10vw;
}

.boutonLancement{
    background-color: aqua;
    color: black;
    position: fixed;
    z-index: 5;
    width: 19vh;
    border-radius: 8px;
}

.boutonSkip{
    background-color: aqua;
    color: black;
    position: fixed;
    z-index: 5;
    margin-top: 5vh;
    width: 19vh;
    border-radius: 8px;
}

#VAISSEAU{
    /* animation: a1 3s forwards ease-in; */
    -webkit-animation-name: "a1";
    -webkit-animation-duration : 6s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-play-state : paused;
    }

@-webkit-keyframes a1{
    0%{
        display: flex;
        width: 60%;
        height: 60%;
        padding-left: 0vw;
        padding-bottom: 0vh;
    }80%{
        display: flex;
        width: 40%;
        height: 40%;
        padding-left: 59vw;
        padding-bottom: 60vh;
    }100%{
        display: flex;
        width: 50%;
        height: 50%;
        padding-left: 59vw;
        padding-bottom: 60vh;
    }
}
footer{
    z-index: 2000;
    position : fixed; 
    bottom: 0; 
    width: 100%; 
    background-color: black;
    font-size: 10px; 
}
footer a{
    text-decoration :none; 
    color: white;
}
footer a:hover{
    text-decoration :none; 
    color: white;
}

@media screen and (max-width: 640px) {
    .fond{
      height: 89vh;
    }
  }
