body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
    padding-left: 0.5vw;
    width: 99vw;
    height: 91vh;
    background-image: url("../../Ressources/VisuelsOK/startscreenFondV2.png");
    background-repeat: no-repeat;
   
}

.fond{
    display: flex;
    justify-content: left;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
}

.vaisseau{
    display: flex;
    width: 60%;
    height: 60%;
    padding-left: 0vw;
    padding-bottom: 0vh;
}

.boutonLancement{
    background-color: aqua;
    color: black;
}

#VAISSEAU{
    /* animation: a1 3s forwards ease-in; */
    animation-name: "a1";
    animation-duration : 6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-play-state : paused;
    }

@keyframes a1{
    0%{
        display: flex;
        width: 60%;
        height: 60%;
        padding-left: 0vw;
        padding-bottom: 0vh;
    }80%{
        display: flex;
        width: 40%;
        height: 40%;
        padding-left: 59vw;
        padding-bottom: 60vh;
    }100%{
        display: flex;
        width: 50%;
        height: 50%;
        padding-left: 59vw;
        padding-bottom: 60vh;
    }
}
