body,html{
   
    margin: 0;
    padding: 0;
    color: white!important;
    background-image: url('../../Ressources/VisuelsOK/startscreenFondV2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.desactive{
    
    -webkit-filter: grayscale(100%); /* Pour les navigateurs Chrome, Safari, Opera */
    filter: grayscale(100%); /* Firefox */


}

#retour{
    width: 10%;
    padding: 0.5vw; 
    position: absolute; 
    top: 5px;
    left: 5px;
}


#retour p{
    text-align: center;
}

#retour img{
    width:  100%;
}

#tagContainer{
margin-top: 17vh;
margin-bottom: 10vh;


}

@media screen and (max-width: 640px) {
#retour{
    width: 20%;
    padding: 0.5vw; 
    position: absolute; 
    top: 5px;
    left: 5px;
}

#tagContainer{
    margin-top: 1vh;
    
    
    }

}


@media screen and (max-width: 1024px) {
    #retour{
        width: 20%;
        padding: 0.5vw; 
        position: absolute; 
        top: 5px;
        left: 5px;
    }
    
    #tagContainer{
        margin-top: 10vh;
        
        
        }
    
    }